
.title-section{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    color: $colorJob;
    width: 100%;
    @media(max-width: 600px){
        font-size: 33px;
    }
    &::after{
        position: absolute;
        content: "";
        bottom: -15px;
        left: 50%;
        width: 100px;
        height: 3px;
        background-color: white;
        transform: translateX(-50%);
    }

  }
  
  .ofline{
    right: 100px;
    bottom: 20px;
    width: 300px;
    padding: 20px 20px 10px 20px;
    font-size: 20px;
    background-color: $backgroundSecound;
    z-index: 111;
    opacity: 0;
    i{
      color: red;
    }
  }
  
  .scroll-top{
    bottom: 30px;
    right: 20px;
    z-index: 1111;
  }
  .scroll-top {
      i{
    color: $colorJob;
    background-color: $backgroundSecound;
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    cursor: pointer;
    transition: .5s;
    opacity: 0;
  }
}

