$backgroundColor: #111111;
$headerColor: #191919;
$backgroundSecound: #1f1f1f;;
$colorJob: hsl(51, 100%, 50%);
$colorGray:  hsla(0, 0%, 93%, 0.733);
$colorWhite: #fff;
$colorData: hsla(54, 100%, 62%, 0.769);
$colorGithub: hsl(216, 28%, 7%);
$mainTransition: .3s;
$fontSizeSection: 40px;
$paddingTop: 100px;
$paddingBottom: 300px;