$backgroundColor: #111111;
$headerColor: #191919;
$backgroundSecound: #1f1f1f;;
$colorJob: gold;
$colorGray:  rgba(238, 238, 238, 0.733);
$colorWhite: #fff;
$colorData: #ffeb3bc4;
$colorGithub: #0d1117;
$mainTransition: .3s;
$fontSizeSection: 40px;
$paddingTop: 100px;
$paddingBottom: 300px;